<a href="https://colab.research.google.com/github/RAWAN244/IBM-/blob/main/IBM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Final Project Notebook

## Introduction
This notebook contains exercises and examples for IBM Data Science Professional Certificate

## Data Science Languages
- Python
- R
- SQL
- Julia
- Java

## Data Science Libraries

### Python Libraries
- NumPy
- Pandas
- Matplotlib
- Scikit-learn
- TensorFlow

### R Libraries
- ggplot2
- dplyr
- tidyr
- caret
- shiny

## Data Science Tools
| Tool           | Description                         |
|----------------|-------------------------------------|
| Jupyter Notebook | An open-source tool for interactive computing |
| RStudio        | Integrated development environment for R |
| Apache Spark   | Distributed computing system for big data |

## Arithmetic Expression Examples
Below are examples of simple arithmetic expressions.

In [1]:
# Example: Multiply 3 by 4 and add 5
result = (3 * 4) + 5
result

17

In [2]:
# Example: Convert 150 minutes to hours
minutes = 150
hours = minutes / 60
hours

2.5

## Objectives
- Learn how to use Markdown cells
- Understand basic arithmetic operations in Python
- Convert time units using Python code

## Author
**Rawan**